<ng-container *ngIf="isRecommendationsPageShown">
  <div *ngIf="recommendations?.length; else noRecommendations" class="recommendations-container">
    <h2>Polecamy:</h2>

    <div class="recommendation-list">
      <div *ngFor="let item of recommendations" class="recommendation-item" >
        <div
          class="tooltip"
          (mouseenter)="showTooltip(item, $event)"
          (mouseleave)="hideTooltip()"
        >
          {{ item.title }}
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="activeTooltip" class="tooltip-text"
   [style.top.px]="tooltipPosition.top"
   [style.left.px]="tooltipPosition.left"
  >
    <p>{{ activeTooltip.description }}</p>

    <p>{{ activeTooltip.year }}</p>

    {{ activeTooltip.singer || activeTooltip.author || activeTooltip.publisher || activeTooltip.director }}
  </div>

  <button class="suggestion-button" (click)=" returnChoicePage()">Powrót do pytań</button>
</ng-container>

<ng-container *ngIf="isLoading">
  Loading ...
</ng-container>

<ng-template #noRecommendations>
  <p class="no-suggestions">Nie możemy niczego polecić. Posprobuj zmienić wybór</p>
</ng-template>
