# App
NODE_ENV=development
PORT=3001
CORS_ORIGIN=*

# Database
DB_HOST=postgres-auth
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=auth_db

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# JWT
JWT_SECRET=your-secret-key-change-in-production
JWT_EXPIRATION=1d

# RabbitMQ
RABBITMQ_URL=amqp://rabbit:rabbitpass@rabbitmq:5672

# Consul
CONSUL_HOST=localhost
CONSUL_PORT=8500

# Service
SERVICE_HOST=localhost
